<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="https://www.dcycle.design/favicon.png" />
    <meta name="description" content="Created by vinit.maniyar" />
    <meta property="og:title" content="Sikka Webhook" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.dcycle.design/assets/img/seo_logo.png" />
    <meta property="og:url" content="https://www.dcycle.design" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:description" content="Created by vinit.maniyar" />
    <meta property="og:site_name" content="Sikka Webhook" />
    <meta name="twitter:image:alt" content="https://www.dcycle.design/assets/img/logo.png" />

    <title>{{page_title | default:'Sikka'}} | Sikka</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

</head>

<body>
    {% block content %}

    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>