{% extends 'base.html' %}
{% block content %}
<h3 class="text-center mt-5">
    Welcome To Sikka Webhook example
</h3>
<section class='container my-5'>
    <form action="{% url 'dashboard:appointment-list' %}" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name='q' placeholder="Search Patient" aria-label="Search Patient"
                aria-describedby="search-button">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
        </div>
    </form>
</section>
{% endblock content %}